.player-bio {
  color: whitesmoke;
  box-sizing: border-box;
  position: relative;
  height: 32rem;
  max-height: 32rem;
  width: 100%;
  margin-bottom: 5rem;

  @media only screen and (max-width: 710px) {
    max-height: none;
    height: fit-content;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    height: 100%;

    @media only screen and (max-width: 710px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    width: 50%;
    overflow: hidden;

    &--img {
      display: block;
      object-fit: cover !important;
      height: 100%;
      width: 100%;
    }

    @media only screen and (max-width: 710px) {
      width: 75%;
      max-height: 260px;
    }

    @media only screen and (max-width: 575px) {
      width: 80%;
    }
  }

  &__right {
    padding-left: 5rem;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;

    &--container {
      h3 {
        font-size: 6rem;
        margin-left: -.4rem;

        span {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }

      ul {
        font-size: 1.75rem;

        span {
          background: #303030;
          display: inline-block;
          width: 10rem;
          text-align: center;
          padding: 1rem;
          margin: 1rem 3rem 0 0;
        }
      }
    }

    @media only screen and (max-width: 710px) {
      width: 90vw;
      padding: 0;
      margin-top: 2.5rem;
      justify-content: center;

      &--container {
        display: flex;
        flex-direction: column;
        width: 100%;

        h3 {
          text-align: center;
          margin-bottom: 1rem;
        }

        ul {
          display: flex;
          justify-content: space-between;
          text-align: center;
          width: 100%;
          font-size: 1.65rem;

          li {
            width: 19%;
          }

          span {
            width: 84.5%;
            margin: 0 0 1rem 0;
          }
        }
      }
    }
  }
}