.player-bio {
  color: whitesmoke;
  box-sizing: border-box;
  position: relative;
  height: 32rem;
  max-height: 32rem;
  width: 100%;


  &__container {
    margin: 0 auto;
    display: flex;
    height: 100%;
  }

  &__left {
    width: 50%;
    overflow: hidden;

    &--img {
      display: block;
      object-fit: cover !important;
      height: 100%;
      width: 100%;
    }
  }

  &__right {
    padding-left: 5rem;
    box-sizing: border-box;
    width: 50%;

    &--container {
      h3 {
        font-size: 6rem;
        margin-left: -.4rem;

        span {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}