.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2.5rem;
  position: relative;

  &__background {
    background-image: url("../images/lakers.jpg");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    &::before {
      content: '';
      width: 100vw;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, .85);
      top: 0;
      left: 0;
    }
  }

  &::after {
    content: '';
    width: 100vw;
    height: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, purple, gold);
  }

  &__text {
    z-index: 1;
    text-align: center;

    h1 {
      font-size: 8.5rem;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      background: linear-gradient(to right, purple, gold);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      text-align: center;
      line-height: .85;
    }

    p {
      font-size: 3rem;
      font-weight: 600;
      margin-top: 2rem;
      line-height: 1.1;
      background: linear-gradient(to right, purple, gold);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.content-container {
  width: 80vw;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;

  .select-bar {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    color: rgb(216, 216, 216);

    select {
      height: 4.55rem;
      border: 1px solid rgb(216, 216, 216);
      outline: none;
      background: #303030;
      padding: 0 3rem;
      -moz-appearance: none;
      -webkit-appearance: none;
      color: rgb(216, 216, 216);
    }

    .player-select {
      width: 50%;
      max-width: 450px;
      margin-right: 5rem;
      position: relative;

      select {
        font-size: 2.5rem;
        width: 100%;
        padding-right: 4rem;
      }

      svg {
        position: absolute;
        right: 1.25rem;
        top: 1rem;
        height: 2.5rem;
        width: 2.5rem;
        pointer-events: none;
      }
    }

    .sort-select {
      font-size: 1.75rem;
      width: 27.5%;
    }

    .sort-by-select {
      margin-left: 1rem;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;

    @media only screen and (max-width: 710px) {
      flex-direction: column-reverse;
      width: 90vw;
    }
  }

  @media only screen and (max-width: 950px) {
    width: 90vw;
  }

  @media only screen and (max-width: 710px) {
    .select-bar {
      justify-content: center;
      margin: 4rem 0;

      .player-select {
        margin-right: 2.5rem;
      }
    }
  }

  @media only screen and (max-width: 575px) {
    width: 90vw;

    h1 {
      font-size: 4rem;
    }

    .select-bar {
      width: 100%;
      justify-content: center;

      select {
        padding: 1rem 1.5rem;
      }

      .player-select {
        margin-right: 5vw;

        select {
          font-size: 1.75rem;
        }
      }

      span {
        display: none;
      }

      .sort-by-select {
        font-size: 1.25rem;
      }
    }
  }
}