html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body {
  background: #000; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

#app {
  margin: 0 auto; }

.section-header {
  height: 4rem;
  width: 30vw;
  background: #464646;
  color: black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  position: relative;
  background-image: url("../images/lakers.jpg");
  background-size: cover;
  background-position: top; }
  .header h1 {
    font-size: 8.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, purple, gold);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    z-index: 1; }
    @media only screen and (max-width: 700px) {
      .header h1 {
        font-size: 3.5rem; } }
    .header h1 span {
      font-size: 2.5rem;
      display: block; }
  .header::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0; }
  .header::after {
    content: '';
    width: 100vw;
    height: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, purple, gold); }

.content-container {
  width: 80vw;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content-container .select-bar {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    color: #d8d8d8; }
    .content-container .select-bar select {
      height: 4.55rem;
      border: 1px solid #d8d8d8;
      outline: none;
      background: #303030;
      padding: 0 3rem;
      -moz-appearance: none;
      -webkit-appearance: none;
      color: #d8d8d8; }
    .content-container .select-bar .player-select {
      font-size: 2.5rem;
      width: 50%;
      max-width: 450px;
      margin-right: 5rem; }
    .content-container .select-bar .sort-select {
      font-size: 1.75rem;
      width: 27.5%; }
    .content-container .select-bar .sort-by-select {
      margin-left: 1rem; }

.player-bio {
  color: whitesmoke;
  box-sizing: border-box;
  position: relative;
  height: 32rem;
  max-height: 32rem;
  width: 100%; }
  .player-bio__container {
    margin: 0 auto;
    display: flex;
    height: 100%; }
  .player-bio__left {
    width: 50%;
    overflow: hidden; }
    .player-bio__left--img {
      display: block;
      object-fit: cover !important;
      height: 100%;
      width: 100%; }
  .player-bio__right {
    padding-left: 5rem;
    box-sizing: border-box;
    width: 50%; }
    .player-bio__right--container h3 {
      font-size: 6rem;
      margin-left: -.4rem; }
      .player-bio__right--container h3 span {
        font-size: 2rem;
        text-transform: uppercase; }
